:root {
  --heading-color: #777;
}
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  background-color: #333;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #333;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: var(--heading-color);
}
